<div class="container">
    <h1>Events</h1>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="event in ec.events">
            <div class="panel-heading {{ec.refStatuses[event.currentStatusID].statusCode}}"
                    data-parent="#accordion" ng-click="event.isCollapsed = !event.isCollapsed"
                    style="overflow:hidden">
                <h4 class="panel-title">
                    {{event.eventName}}
                    <span ng-show="event.isCollapsed" class="glyphicon glyphicon-plus-sign" style="float:right"></span>
                    <span ng-show="!event.isCollapsed" class="glyphicon glyphicon-minus-sign" style="float:right"></span>
                </h4>
            </div>
            <div uib-collapse="event.isCollapsed">
                <div class="panel-body">
                    <h4>Quick Event Details</h4>
                    <p><label>Current Status:</label> {{ec.refStatuses[event.currentStatusID].statusName}}</p>
                    <p><label>Started:</label> {{event.startDate | date:"MMM d, y"}}</p>
                    <p ng-show="event.endDate"><label>Ended:</label> {{event.endDate | date:'MMM d, y'}}</p>
                    <p><label>Last Updated:</label> {{event.lastUpdated | date:'MMM d, y'}}</p>
                    <a class="btn btn-primary" href="#/events/{{event.eventName}}/{{event.currentStatusID}}/{{event.startDate.toString()}}">
                        Event Details
                    </a>
                    <div ng-show="(ec.refStatuses[event.currentStatusID - 1].statusCode && ec.refStatuses[event.currentStatusID].canProgressBack)
                        || ec.refStatuses[$index + 1].statusCode">
                        <h4>Progress event to:</h4>
                        <button class="btn {{ec.refStatuses[event.currentStatusID - 1].statusCode}}"
                                ng-show="ec.refStatuses[event.currentStatusID - 1].statusCode && ec.refStatuses[event.currentStatusID].canProgressBack"
                                ng-click="ec.progressEventBack(event)">
                            {{ec.refStatuses[event.currentStatusID - 1].statusName}}
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button class="btn {{ec.refStatuses[event.currentStatusID + 1].statusCode}}"
                                ng-show="ec.refStatuses[event.currentStatusID + 1].statusCode"
                                ng-click="ec.progressEventForward(event)">
                            {{ec.refStatuses[event.currentStatusID+1].statusName}}
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="ec.addEvent()">Add Event</button>
</div>