<!DOCTYPE html>
<html ng-app="SpiritApp">
<head>
    <meta charset="utf-8" />
    <title>Spirit Committee App</title>

    <!-- AngularTest references -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation" ng-controller="NavController as nc">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" 
                        ng-click="nc.isCollapsed = !nc.isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Spirit Committee</a>
            </div>
            <div class="collapse navbar-collapse"
                    uib-collapse="nc.isCollapsed">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in nc.links">
                        <a href="{{link.url}}">{{link.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view></div>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>

    <script src="spiritapp/Spirit.app.js"></script>
    <script src="spiritapp/eventsmodules/spirit.app.Events.module.js"></script>
    <script src="spiritapp/eventsmodules/eventscontrollers/events.module.AddComment.controller.js"></script>
    <script src="spiritapp/eventsmodules/eventscontrollers/events.module.AddEvent.controller.js"></script>
    <script src="spiritapp/eventsmodules/eventscontrollers/events.module.Events.controller.js"></script>
    <script src="spiritapp/eventsmodules/eventscontrollers/events.module.EventDetail.controller.js"></script>
    <script src="spiritapp/eventsmodules/eventsproviders/events.module.EventsData.factory.js"></script>
    <script src="spiritapp/navmodules/spirit.app.Nav.module.js"></script>
    <script src="spiritapp/navmodules/navcontrollers/nav.module.Nav.controller.js"></script>
    <script src="spiritapp/refmodules/spirit.app.Ref.module.js"></script>
    <script src="spiritapp/refmodules/refcontrollers/ref.module.Ref.controller.js"></script>
</body>
</html>