<div class="container">
    <div class="modal-header">
        <h2>Add A Comment</h2>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <input class="form-control" ng-model="acc.commentText" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="acc.add()">Add</button>
            <button class="btn" ng-click="acc.cancel()">Cancel</button>
        </div>
    </form>
</div>