<div class="container">
    <h1>{{edc.event.eventName}} History</h1>
    <div class="panel-group">
        <h4>Event Inception: {{edc.event.startDate | date:"MMM d, y"}}</h4>
        <div class="panel panel-default">
            <div class="panel-heading {{edc.refStatuses[edc.event.currentStatusID].statusCode}}" style="overflow:hidden">
                <h4 class="panel-title">
                    <span>{{edc.refStatuses[edc.event.currentStatusID].statusName}} <button 
                            class="btn btn-primary" ng-click="edc.addComment()" style="float: right">Add Comments</button>
                    </span>
                </h4>
            </div>
            <div class="panel-body" ng-show="edc.event.comments[0]">
                <h5>Comments Entered</h5>
                <p ng-repeat="comment in edc.event.comments">
                    {{comment.enteredDate | date:"MM/dd/yy hh:mm a"}}: {{comment.commentText}}
                </p>
            </div>
        </div>
        <h4><span class="glyphicon glyphicon-arrow-down"></span> It moved to [next status here] on [endDate]</h4>
    </div>
</div>