<div class="container">
    <h1>Events</h1>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="event in ec.events">
            <div class="panel-heading {{ec.refStatuses[event.currentStatusID].statusCode}}"
                    data-parent="#accordion" ng-click="event.isCollapsed = !event.isCollapsed">
                <h4 class="panel-title">
                    <span ng-show="event.isCollapsed" class="glyphicon glyphicon-plus-sign"></span>
                    <span ng-show="!event.isCollapsed" class="glyphicon glyphicon-minus-sign"></span>
                    {{event.eventName}}
                </h4>
            </div>
            <div uib-collapse="event.isCollapsed">
                <div class="panel-body">
                    <p>Current Status: {{ec.refStatuses[event.currentStatusID].statusName}}</p>
                    <p>Started: {{event.startDate | date:"MMM d, y"}} <span ng-show="event.endDate">| Ended: {{event.endDate | date:'MMM d, y'}}</span></p>
                    <div ng-show="(ec.refStatuses[event.currentStatusID - 1].statusCode && ec.refStatuses[event.currentStatusID].canProgressBack)
                        || ec.refStatuses[$index + 1].statusCode">
                        <button class="btn {{ec.refStatuses[event.currentStatusID - 1].statusCode}}"
                                ng-show="ec.refStatuses[event.currentStatusID - 1].statusCode && ec.refStatuses[event.currentStatusID].canProgressBack"
                                ng-click="ec.progressEventBack()">
                            {{ec.refStatuses[event.currentStatusID - 1].statusName}}
                        </button>
                        <button class="btn {{ec.refStatuses[event.currentStatusID + 1].statusCode}}"
                                ng-show="ec.refStatuses[event.currentStatusID + 1].statusCode"
                                ng-click="ec.progressEventForward()">
                            {{ec.refStatuses[event.currentStatusID+1].statusName}}
                        </button>
                        <a class="btn btn-primary" href="#/events/{{event.eventName}}/{{event.currentStatusID}}/{{event.startDate.toString()}}">
                            Event Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <h2>Add A New Event</h2>
            <div>
                <input class="form-control" ng-model="ec.eventName" />
            </div>
        </div>
        <div class="form-group">
            <div>
                <button class="btn btn-primary" ng-click="ec.addEvent()">Add</button>
            </div>
        </div>
    </form>
</div>